body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0e9e9;
}
.header {
  background-color: rgb(151, 135, 135);
  width: 100%;
  height: 60px;
}

.products {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
}

.pagination {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination span {
  border: 1px solid pink;
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(186, 179, 179);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination span:hover {
  background-color: rgb(69, 69, 67);
}
.pagination span.page__selected {
  background-color: rgb(104, 95, 112);
}
  